[submodule "vendor/yoctolib_cs"]
	path = vendor/yoctolib_cs
	url = https://github.com/yoctopuce/yoctolib_cs
[submodule "vendor/yoctolib_python"]
	path = vendor/yoctolib_python
	url = https://github.com/yoctopuce/yoctolib_python.git
